@import "@/styles/variables";
@import "@/styles/mixins";

.parallaxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: auto;

        @include respond-to(ipad, max) {
            // object-fit: cover !important;
        }
    }

}