@import "@/styles/variables";
@import "@/styles/mixins";

.page {
  position: relative;
  z-index: 2;
  background-color: $background-color;
  @include flexCenter(column);
  width: 100%;
  gap: $spacing-lg;
}