@import "@/styles/variables";
@import "@/styles/mixins";

.serviceOfferings {
    @include flex(column, center, center);
    width: 100%;
    padding: $spacing-lg $spacing-xl;
    gap: 5vh;
    margin: 0 auto;
    z-index: 2;
    transition: $transition-normal;

    @include respond-to(medium-tablet, max) {
        padding: $spacing-md $spacing-md;
        gap: 4vh;
    }

    @include respond-to(phone, max) {
        padding: $spacing-sm;
        gap: 3vh;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $site-gutter-desktop;
        width: 100%;
        padding-bottom: $spacing-4xl;
        border-bottom: 1px solid $subtitle-color;
        transition: $transition-normal;


        @include respond-to(large-tablet, max) {
            gap: $spacing-lg;
            padding-bottom: $spacing-3xl;
        }

        @include respond-to(medium-tablet, max) {
            grid-template-columns: repeat(2, 1fr);
            gap: $spacing-md;
        }

        @include respond-to(small-tablet, max) {
            grid-template-columns: repeat(1, 1fr);
            gap: $spacing-lg;
        }
    }

    .left {
        @include flex(column, flex-start, flex-start);
        gap: $spacing-md;

        h3 {
            font-size: $size-3;
            font-family: $title-font;
            letter-spacing: -0.03em;
            color: $title-color;
            transition: $transition-normal;


            @include respond-to(large-tablet, max) {
                font-size: $size-25;
            }

            @include respond-to(phone, max) {
                font-size: $size-2;
            }
        }

        p {
            font-size: $size-1;
            max-width: 70%;
            color: $text-color;
            transition: $transition-normal;

            @include respond-to(large-tablet, max) {
                max-width: 90%;
            }

            @include respond-to(medium-tablet, max) {
                max-width: 100%;
            }

            @include respond-to(phone, max) {
                font-size: $small-font-size;
            }
        }
    }

    .right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: $size-2;

        @include respond-to(small-tablet, max) {
            grid-template-columns: 1fr;
            gap: $spacing-lg;
        }

        .subOffering {
            @include flex(column, flex-start, flex-start);
            width: 100%;
            gap: $spacing-xs;
            transition: $transition-normal;

            h4 {
                font-size: $size-2;
                color: $title-color;
                transition: $transition-normal;

                @include respond-to(large-tablet, max) {
                    font-size: $size-15;
                }

                @include respond-to(phone, max) {
                    font-size: $size-125;
                }
            }

            p {
                color: $text-color;
                transition: $transition-normal;
                @include respond-to(phone, max) {
                    font-size: $small-font-size;
                }
            }
        }
    }
}