@import "@/styles/variables";
@import "@/styles/mixins";

.blockContent {
    @include flex(column, center, center);
    width: 100%;
    padding: $size-5 $size-3;
    gap: $spacing-sm;
    margin: 0 auto;
    z-index: 2;
    border-top: 1px solid $subtitle-color;

    @include respond-to(medium-tablet, max) {
        padding: $spacing-xs;
        margin-bottom: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: $size-2;

        .left {
            @include flex(column, space-between, flex-start);
            gap: $spacing-sm;

            h5 {
                max-width: 60%;
                font-size: $size-15;
                line-height: 130%;
            }
        }

        p {
            font-size: $size-1;
            line-height: 150%;
        }
    }
}