@import "@/styles/variables";
@import "@/styles/mixins";

.brushStrokeContainer {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    overflow: visible !important;

    &.left {
        left: -40%;

        .brushStrokeSvg {
            transform-origin: left center !important;
        }
    }

    &.right {
        right: -40%;

        .brushStrokeSvg {
            transform-origin: right center !important;
        }
    }

    &.top {
        top: 0;
        left: 0;

        .brushStrokeSvg {
            transform-origin: top top !important;
        }
    }
}

.svgImageContainer {
    position: relative;
    width: 100%;
    height: 100%;

    .svgImage {
        object-position: left center;
    }
}

.svgObject {
    width: 100%;
    height: 100%;
}

.brushStrokeSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible !important;
    max-height: 40vh;

    path {
        overflow: visible !important;
    }
}