@import "@/styles/variables";
@import "@/styles/mixins";

.navbar {
    @include position(relative, 0, 0, null, 0);
    width: 100%;
    padding: $spacing-sm $spacing-lg;
    z-index: 999999;
    pointer-events: none;
    margin-bottom: 19vh;

    @media screen and (min-width: 1050px) and (max-width: 1300px) {
        padding: $spacing-xs $spacing-sm;
    }

    @include respond-to(medium-tablet, max) {
        padding: $spacing-xs;
        padding-top: 2.5vh;
    }
}

.logoContainer {
    width: 100%;
    padding: 0;
    pointer-events: all;
    overflow: visible;
}

.logo {
    display: block;
    width: 100%;
}

.logoSvg {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    @include flex(column, flex-start, center);
    border-radius: $nav-border-radius;
    width: 100%;
    margin: 0 auto;
    pointer-events: all;

    @include respond-to(medium-tablet, max) {
        width: 100%;
        gap: $spacing-xs;
        padding: 0 $spacing-xs;
        height: unset;
    }
}

.content {
    @include flex(row, space-between, center);
    width: 100%;
    font-family: $medium-font;

    h3 {
        font-family: $medium-font;
        font-size: $size-125
    }
}

.links {
    @include flexCenter(row);
    gap: $spacing-sm;
    background-color: #fff;
    padding: $size-1 $size-15;
    border-radius: 0.375rem
}

.link {
    @include font-style($normal-font-size, 1.2, 300);
    color: $title-color;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: $medium-font;

    &:hover {
        color: $accent-color;
    }
}