@import "@/styles/variables";
@import "@/styles/mixins";

.icon {
    @include flexCenter(row); 
    border-radius: $border-radius-full;
    padding: $size-075;
    background-color: $container-color;

    svg {
        display: block; 
    }
}