@import "@/styles/variables";
@import "@/styles/mixins";

.doubleButton {
    @include flex(row, flex-start, center);
    
    .body, .icon {
        padding: $spacing-sx;
        background-color: $container-color;
        border-radius: $border-radius-sm;
        font-family: $medium-font;
    }
    .icon {
        @include flexCenter(row);
        border-radius: $border-radius-full;
        padding: $spacing-xs;
        svg {
            font-size: 4rem;
        }
    }
    
}